<div class="container">
	<div class="col-md-8 col-md-offset-2 text-center">
		<h3 class="userContactName">Contact Us</h3>
	</div>
	

	<div>
		<form name="contactForm" class="col-md-8 col-md-offset-2" novalidate>
			
			<div class="form-group ">
				<label class="userContactName">Name</label>
				<input type="text" name="name" class="form-control has-feedback" ng-model ="contact.name"
							  required>
				<div class= "help-block" ng-messages="contactForm.name.$error" ng-show="contactForm.name.$touched">
					<div ng-messages-include="err-msg-partial.html"></div>
				</div>
			</div>
			
			<div class="form-group" >
				<label class="userContactName">Telephone</label>
				<input type="text" name="telephone" class="form-control has feedback" ng-model="contact.telephone">
			</div>

			<div class="form-group" >
				
				<label class="userContactName">Email</label>
				<input type="email" name="email" class="form-control has feedback" ng-model="contact.email" required>
				<div class= "help-block" ng-messages="contactForm.email.$error" ng-show="contactForm.email.$touched">
					<div ng-messages-include="err-msg-partial.html"></div>
				</div>
			</div>

			<div class="form-group">
				<label class="userContactName">Message</label>
				<textarea rows="8" name="message" class="form-control has feedback" ng-model="contact.message" required>Please tell us your issues
					
				</textarea>
			</div>
			
			<br/>
			<div class="form-group">
			<button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-flash"></span> Submit</button>
			</div>
			
		</form>
	</div>
</div>